[submodule "field-research-data-treatment"]
	path = field-research-data-treatment
	url = https://github.com/PedrooMachado23/field-research-data-treatment.git
[submodule "data-plotter"]
	path = data-plotter
	url = https://github.com/PedrooMachado23/data-plotter.git
